<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <nav>
        <p>Logged in as: <%= current_user.email %></p>
        <%= button_to "Sign Out", session_url, method: :delete %>
        <p><%= link_to "Back to All Bands", bands_url %></p>
      </nav>
    <% end %>

    <h1>Music App</h1>


  </head>

  <body>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
