<h1><%= @album.name %></h1>

<h3>Tracks</h3>

<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to "#{track.name}", track_url(track) %></li>
  <% end %>
</ul>

<h3>Links</h3>

<%= link_to "New Track", new_album_track_url(@album) %>
<br>
<%= link_to "Delete Track", album_url(@album), method: :delete %>
<br>
<%= link_to "Edit #{@album.name}", edit_album_url(@album), method: :get %>
